*::-webkit-input-placeholder {
	color: inherit;
	opacity: .6
}
*:-moz-placeholder {
	color: inherit;
	opacity: .6
}
*::-moz-placeholder {
	color: inherit;
	opacity: .6
}
*:-ms-input-placeholder {
	color: inherit;
	opacity: .6
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "PTSans";
	font-size: 0.833vw;
	line-height: 160%;
	color: #5A666D;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.container {
    max-width: 83.33vw;
}
.row > div {
    padding: 0 0.78vw;
}
.row {
    margin: 0 -0.78vw;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    position: absolute;
}
.header__top {
    padding: 0.52vw 0;
    gap: 1.04vw;
    font-size: 0.78vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__mails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header__top a {
    color: #fff;
}
.header__main {
    padding: 1.56vw 1.56vw;
    font-size: 0.73vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrap {
    gap: 1.04vw;
    display: flex;
    align-items: center;
}
.logo img {
    width: 7.81vw;
}
.logo-descr {
    font-size: 0.73vw;
    max-width: 7.40vw;
    line-height: 1.1;
    color: #777777;
    font-family: "PTSans";
}
.btn-catalog {
    min-width: 7.81vw;
    padding: 0.52vw 0.78vw;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: "PTSans";
    color: #333;
    text-transform: uppercase;
}
.btn-catalog span {
    margin-left: 0.52vw;
    margin-right: auto;
}
.catalog-wrap {
    position: relative;
}
.catalog-dropdown {
    width: 13.02vw;
    border: 1px solid rgba(0,0,0,.075);
    top: 100%;
    position: absolute;
    left: 0;
    background: #fff;
    transform: translateY(0.78vw);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.catalog-dropdown > ul > li {
    position: relative;
}
.catalog-dropdown > ul > li > a {
    font-size: 0.73vw;
    padding: 0.63vw 0.94vw;
    line-height: 1.04vw;
    color: #333;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-dropdown > ul > li:hover > a {
    background-color: #f7f7f7;
    color: #555;
}
.catalog-dropdown > ul > li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.075);
}
.catalog-dropdown__haschild > a::after {
    color: rgba(82, 82, 82, .45);
    margin-left: auto;
    font-weight: 600;
    font-size: 70%;
    content: "\f113";
    font-family: "woodmart-font";
}
.catalog-dropdown ul ul {
    width: 20.83vw;
    padding: 0.63vw 1.04vw;
    top: 0;
    left: 100%;
    background: #fff;
    position: absolute;
    box-shadow: 0 0 0.16vw rgba(0, 0, 0, .15);
    transform: translateY(0.78vw);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.catalog-wrap:hover .catalog-dropdown,
.catalog-dropdown ul li:hover ul {
    transform: none;
    visibility: visible;
    opacity: 1;
}
.menu {
    display: flex;
    align-items: center;
}
.menu > li {
    position: relative;
}
.menu > li > a {
    height: 2.08vw;
    padding: 0 0.26vw;
    gap: 0.21vw;
    color: #333;
    font-weight: 700;
    font-family: "PTSans";
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu__haschild > a::after {
    content: "\f078";
    font-size: 60%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    color: rgba(82,82,82,.45);
}
.menu li:hover .menu__dropdown {
    transform: none;
    visibility: visible;
    opacity: 1;
}
.menu__dropdown {
    padding: 0.63vw 1.04vw;
    width: 20.83vw;
    transform: translateY(0.78vw);
    top: 100%;
    left: 0;
    box-shadow: 0 0 0.16vw rgba(0, 0, 0, .15);
    background: #fff;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.catalog-dropdown ul ul li a,
.menu__dropdown li a {
    padding: 0.42vw 0;
    font-size: 0.73vw;
    line-height: 1.3;
    color: #848484;
    display: block;
}
.catalog-dropdown ul ul li a:hover,
.menu__dropdown li a:hover {
    color: rgb(16,167,249);
}
.header__contacts {
    font-size: 0.73vw;
    color: #777;
    line-height: 1.1;
}
.header__contacts a {
    font-size: 0.83vw;
    font-weight: 600;
    font-family: "PTSans";
    color: #10a7f9;
}
.header__buttons {
    gap: 0.26vw;
    display: flex;
    align-items: center;
}
.btn-header__icon {
    position: relative;
}
.btn-header__icon::before {
    color: #333;
    font-size: 1.04vw;
    font-family: 'woodmart-font';
}
.btn-header_compare .btn-header__icon::before {
    content: "\f128";
}
.btn-header_user .btn-header__icon::before {
    font-size: 0.99vw;
    content: "\f124";
}
.btn-header_search .btn-header__icon::before {
    font-size: 0.99vw;
    transition: opacity .3s ease;
    content: "\f130";
}
.btn-header_favorites .btn-header__icon::before {
    content: "\f106";
}
.btn-header_basket .btn-header__icon::before {
    content: "\f126";
}
.btn-header {
    padding: 0 0.42vw;
    height: 2.08vw;
    gap: 0.78vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-header__value {
    width: 0.78vw;
    height: 0.78vw;
    top: -0.26vw;
    right: -0.47vw;
    font-size: 0.47vw;
    background: rgb(16,167,249);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
}
.btn-header__text {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "PTSans", sans-serif;
}

.billbord {
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord__content {
	height: 35.68vw;
	font-size: 0.94vw;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title-big {
    font-size: 2.71vw;
	margin-bottom: 0.52vw;
	font-family: sans-serif;
	line-height: 1.4;
    font-weight: 500;
}

.categories {
	padding: 2.6vw 0;
	background-color: #F7F7F7;
}
.row.row_main > div {
	padding: 0 0.52vw;
	margin-bottom: 1.04vw;
}
.row.row_main {
	margin: 0 -0.52vw;
	margin-bottom: -1.04vw;
}
.item-category {
	height: 29.58vw;
	padding: 1.56vw;
	font-size: 1.15vw;
	margin-bottom: 1.04vw;
	line-height: 1.3;
	font-weight: 600;
	color: #242424;
	overflow: hidden;
	display: block;
	position: relative;
	z-index: 1;
	font-family: "PTSans";
	background: #fff;
}
.item-category__title span {
	display: block;
	color: #10A7F9;
}
.item-category:last-child {
	margin-bottom: 0;
}
.item-category__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.item-category__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.item-category.item-category_small {
	height: 13.8vw;
}
.item-category:hover .item-category__image img {
	transform: scale(1.09);
}

.catalog {
	padding-top: 1.3vw;
	padding-bottom: 3.39vw;
}
.banner {
	margin-bottom: 1.56vw;
	display: block;
	position: relative;
}
.banner__image {
	display: block;
	position: relative;
	overflow: hidden;
}
.banner:hover .banner__image img {
	transform: scale(1.1);
}
.banner__image img {
	width: 100%;
	height: auto;
	transition: all 2s;
}
.banner__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.banner__content {
	padding: 1.04vw;
	color: #fff;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.banner__subtitle {
	font-size: 0.94vw;
	margin-bottom: 0.52vw;
	display: block;
}
.banner__title {
	font-size: 1.77vw;
	margin-bottom: 0.781vw;
	line-height: 1.3;
	display: block;
}
.banner__btn {
	padding: 0.52vw 0.73vw;
    font-size: 0.62vw;
    line-height: 0.83vw;
	border-radius: 0.26vw;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background: rgb(255,179,0);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.sidebar-recommendations__head {
	font-size: 0.94vw;
	padding: 1.04vw;
	background-color: #007bc4;
	color: #fff;
	font-weight: 600;
	text-align: center;
}
.sidebar-recommendations__content {
	padding: 0 0.52vw;
	border: 0.16vw solid rgba(119, 119, 119, 0.16862745098039217);
	border-top: none;
}
.list-products a {
	padding: 0.78vw;
	font-size: 0.73vw;
	padding-right: 0;
	font-weight: 500;
	color: #333;
	border-bottom: 0.05vw solid rgba(0,0,0,.105);
	line-height: 1.4;
	gap: 0.78vw;
	display: flex;
	align-items: center;
}
.list-products li:last-child a {
	border: none;
}
.list-products .price-main {
	margin-top: 0.42vw;
	display: block;
}
.list-products__image {
	width: 3.39vw;
	height: 3.39vw;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-products__image img {
	max-width: 100%;
	max-height: 100%;
}

.tabs {
    padding-top: 0.52vw;
    gap: 1.56vw;
    margin-bottom: 1.3vw;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs a {
    padding-bottom: 0.1vw;
    color: rgba(51,51,51,.7);
    text-transform: uppercase;
    position: relative;
    display: block;
    font-weight: 600;
}
.tabs a::before {
    position: absolute;
    display: block;
    content: " ";
    height: 0.1vw;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    background: rgb(16,167,249);
}
.tabs a:hover,
.tabs .active a {
    color: #333;
}
.tabs a:hover::before,
.tabs .active a:before {
    width: 100%;
}
.tab-pane {
    display: none;
}
.tab-pane:first-child {
    display: block;
}
.row.row_catalog {
    margin: 0;
}
.row.row_catalog > div {
    padding: 0;
}

.item-catalog {
    text-align: center;
    border: 0.05vw solid rgba(0,0,0,.105);
    border-right: none;
    border-top: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-catalog__image {
    height: 9.38vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.item-catalog__image::after {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
}
.item-catalog__image img {
    max-width: 100%;
    max-height: 100%;
}
.item-catalog__content {
    padding: 0.52vw;
}
.item-catalog__title {
    font-size: 0.73vw;
    margin-bottom: 0.26vw;
    line-height: 1.4;
    color: #333;
    display: block;
}
.price-main {
    font-size: 0.94vw;
    font-weight: 600;
    color: #10A7F9;
}
.row.row_min > div {
    padding: 0 0.26vw;
}
.row.row_min {
    margin: 0 -0.26vw;
}
.item-catalog .price-main {
    margin-top: auto;
}
.item-catalog__action {
    display: none;
}
.item-catalog__buttons {
    top: 50%;
    left: 0;
    z-index: 2;
    transition: all 0.5s;
    position: absolute;
    gap: 0.16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
}
.btn-buy {
    padding: 0.63vw 1.04vw;
    font-size: 0.68vw;
    line-height: 0.94vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.26vw;
    background: rgb(255,179,0);
}
.item-catalog:hover .item-catalog__buttons {
    transform: translateY(-50%);
    opacity: 1;
}
.item-catalog:hover .item-catalog__image::after {
    opacity: 1;
}
.btn-add {
    color: #fff;
    background: transparent;
    overflow: hidden;
    font-size: 0.68vw;
    line-height: 0.94vw;
    border-radius: 0.26vw;
    color: #fff;
    text-transform: uppercase;
    border: 0.1vw solid rgba(255,255,255,.6);
    display: inline-block;
    position: relative;
}
.btn-add span {
    height: 1.98vw;
    padding: 0 0.73vw;
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity .15s ease, transform .25s ease;
}
.btn-add:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.04vw;
    transition: opacity .15s ease, transform .25s ease;
    transform: translateY(100%);
    content: "\f123";
    font-family: woodmart-font;
}
.btn-add:hover:before {
    transform: translateY(0) translateZ(0);
}
.btn-add:hover span {
    transform: translateY(-100%) translateZ(0);
}
.item-catalog__action {
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateX(1.04vw) translateZ(0);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 5;
    transition: all 0.5s;
}
.item-catalog:hover .item-catalog__action {
    transform: translateX(0px) translateZ(0);
    opacity: 1;
}
.btn-action {
    width: 2.6vw;
    height: 2.34vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-action::before {
    font-size: 1.04vw;
    transition: opacity .15s ease;
    font-family: woodmart-font;
}
.btn-action_compare::before {
    content: "\f128";
}
.btn-action_view::before {
    content: "\f130";
}
.btn-action_wishlist::before {
    content: "\f106";
}
.tooltip-main {
    padding: 0 0.78vw !important;
    max-width: 10.42vw;
    height: 1.77vw;
    border-radius: 0;
    background-color: #000;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    line-height: 1.77vw;
    font-size: 0.63vw;
    top: 50%;
    right: 100%;
    margin-top: -0.89vw;
    margin-right: 0.42vw;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.tooltip-main:before {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    top: 50%;
    left: 100%;
    margin-top: -0.26vw;
    border-width: 0.26vw 0 0.26vw 0.26vw;
    border-left-color: #000;
}
.btn-action:hover .tooltip-main {
    visibility: visible;
    opacity: 1;
}
.turnkey {
    padding: 2.6vw 0;
    background-color: #B8E5FD;
}
.turnkey__image img {
    width: 100%;
    height: auto;
    border-radius: 1.04vw;
}
.title-section {
    font-size: 2.083vw;
    line-height: 1.4;
    font-weight: bold;
    font-family: 'Manrope';
    color: #242424;
}
.title-section span {
    color: #10A7F9;
}
.turnkey .title-section {
	font-size: 33px;
    margin-bottom: 1.04vw;
    text-align: center;
}
.turnkey__descr {
    max-width: 32.71vw;
    margin: 0 auto;
    margin-bottom: 1.04vw;
    text-align: center;
    font-family: 'Manrope';
    color: #7A7A7A;
}
.item-turnkey {
    height: 7.81vw;
    padding: 1.04vw;
    font-size: 0.94vw;
    border-radius: 0.78vw;
    font-weight: 800;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.item-turnkey__icon {
	width: 3.125vw;
	height: 3.125vw;
	margin-bottom: 0.521vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-turnkey__icon img {
	max-width: 100%;
	max-height: 100%;
}
.turnkey__items {
	max-width: 32.8125vw;
	margin: 0 auto;
}
.turnkey__items .row > div {
	padding: 0 0.521vw;
}
.turnkey__items .row {
	margin: 0 -0.521vw;
}
.turnkey__button {
	padding-top: 1.042vw;
	text-align: center;
}
.btn-main {
	border-radius: 0.26vw;
	font-size: 0.729vw;
    line-height: 1.042vw;
	padding: 0 1.458vw;
	height: 2.5vw;
	color: #fff;
	background: rgb(16,167,249);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	font-family: "PTSans";
	font-weight: 600;
	text-transform: uppercase;
}
.btn-main:hover {
    background: rgb(0 139 215);
}
.turnkey__button .btn-main {
	width: 12.083vw;
}
.slider-about {
	padding: 2.604vw 1.042vw;
	margin-left: -4.167vw;
	text-align: center;
	background-color: #10A7F9;
	color: #fff;
}
.slider-reviews:not(.slick-initialized) > li:not(:first-child),
.slider-portfolio:not(.slick-initialized) > li:not(:first-child),
.slider-clients:not(.slick-initialized) > li:not(:first-child),
.slider-about:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slider-about__item {
	text-align: center;
	font-family: 'Manrope';
	display: block;
	color: #fff;
}
.slider-about__image img {
	width: 15.625vw;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.slider-about__image {
	margin-bottom: 0.781vw;
	display: block;
}
.slider-about__title {
	font-size: 1.563vw;
	margin-bottom: 0.521vw;
    font-weight: 700;
	line-height: 1.3;
	display: block;
	width: 100%;
}
.slick-arrow {
	width: 2.604vw;
	height: 2.604vw;
	font-size: 1.302vw;
	color: #777 !important;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.slick-arrow:hover {
	color: #333 !important;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slider-about .slick-prev {
	left: -2.604vw;
	transform: translateX(-1.563vw);
	opacity: 0;
}
.slider-about .slick-next {
	right: -2.604vw;
	transform: translateX(1.563vw);
	opacity: 0;
}
.slider-about:hover .slick-arrow {
	transform: none;
	opacity: 1;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 0.521vw;
	height: 0.521vw;
	margin: 0 0.26vw;
}
.slick-dots li button {
	width: 0.521vw;
	height: 0.521vw;
	background: transparent;
	border: 2px solid #bbb;
	padding: 0;
}
.slick-dots li.slick-active button,
.slick-dots li button:hover {
	background-color: #333;
	border-color: #333;
}
.slider-about .slick-dots {
	bottom: 1.563vw;
}
.about__content {
	max-width: 24.219vw;
	color: #5A666D;
}
.about__content .title-section {
	margin-bottom: 1.042vw;
}
.about__content .title-section span {
	display: block;
}
.about__content p {
	margin-bottom: 1.042vw;
}
.link-page {
	font-size: 0.677vw;
    line-height: 0.938vw;
	font-weight: 600;
	text-transform: uppercase;
	color: #333;
	border-bottom: 2px rgb(255, 179, 0) solid;
}
.link-page:hover {
	opacity: 0.6;
}

.clients {
	padding: 1.042vw 0;
}
.clients .title-section {
	margin-bottom: 1.042vw;
}
.slider-clients .slick-track {
	display: flex !important;
	align-items: center;
}
.slider-clients .slick-slide {
	height: inherit !important;
}
.slider-clients__item {
	padding: 2vw;
}
.slider-clients__item img {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
.slider-clients {
	padding: 1.563vw;
	padding-top: 0;
}
.slider-reviews .slick-dots li,
.slider-clients .slick-dots li {
	width: 0.313vw;
	height: 0.313vw;
	margin: 0 0.313vw;
}
.slider-reviews .slick-dots li button,
.slider-clients .slick-dots li button {
	width: 0.313vw;
	height: 0.313vw;
	background: #000;
    opacity: .2;
	border: none;
}
.slider-reviews .slick-dots li.slick-active button,
.slider-reviews .slick-dots li button:hover,
.slider-clients .slick-dots li.slick-active button,
.slider-clients .slick-dots li button:hover {
	opacity: 1;
}
.slick-dots li button:before {
	display: none;
}

.portfolio {
	padding: 2.604vw 0;
	background-color: #F8F8F8;
}
.portfolio .title-section {
	margin-bottom: 1.042vw;
}
.item-portfolio {
	font-size: 0.885vw;
	padding: 1.042vw;
	height: 20.833vw;
    line-height: 1.2em;
	color: #fff;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.item-portfolio__image {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.item-portfolio__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0FA7F8E0;
	opacity: 0;
	transition: all 0.3s;
}
.item-portfolio:hover .item-portfolio__image::after {
	opacity: 1;
}
.item-portfolio:hover .item-portfolio__content {
	opacity: 1;
}
.slider-reviews .slick-slide,
.slider-portfolio .slick-slide {
	padding: 0 0.26vw;
}
.slider-reviews .slick-list,
.slider-portfolio .slick-list {
	margin: 0 -0.26vw;
}
.item-portfolio__content {
	opacity: 0;
	transition: all 0.3s;
	position: relative;
	z-index: 1;
}
.slider-portfolio .slick-arrow {
	color: #fff !important;
}
.portfolio__button {
	padding-top: 1.042vw;
	text-align: center;
}
.portfolio__button .btn-main {
	width: 17.292vw;
	max-width: 100%;
}

.reviews {
	padding: 2.604vw 0;
	background-color: #F8F8F8;
}
.reviews__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.reviews__head .title-section {
	flex: 1;
	text-align: center;
}
.slider-reviews {
	margin: 1.823vw;
}
.item-review {
	font-size: 0.729vw;
	border: 0.26vw solid #e1e8ed;
	border-radius: 1.563vw;
    line-height: 1.5;
	min-height: 100%;
}
.item-review__image {
	width: 2.604vw;
	height: 2.604vw;
	border-radius: 50%;
	display: block;
	flex: none;
}
.item-review__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
	border-radius: 50%;
}
.item-review__head {
	padding: 0.781vw;
	padding-bottom: 0.313vw;
	gap: 0.469vw;
	border-bottom: 1px solid #e1e8ed;
	display: flex;
	align-items: center;
}
.item-review__content {
	flex: 1;
}
.item-review__name {
	color: #1c2022;
	font-weight: 700;
}
.item-review__text {
	padding: 0.781vw;
	padding-top: 0.313vw;
}
.slider-reviews .slick-track {
	display: flex !important;
}
.slider-reviews .slick-slide {
	height: inherit !important;
}
.item-review__head i.fa-yandex {
	font-size: 1.042vw;
	align-self: flex-start;
    color: #FF0000;
}
.rating {
	display: flex;
	align-items: center;
}
.rating {
	display: flex;
	align-items: center;
	flex: none;
}
.rating__item {
	font-size: 0.729vw;
	color: #ccd6df;
	transition: all 0.3s;
	margin-right: 0.208vw;
}
.rating_1 > .rating__item:nth-child(1) {
	color: #f0ad4e;
}
.rating_2 > .rating__item:nth-child(-n+2) {
	color: #f0ad4e;
}
.rating_3 > .rating__item:nth-child(-n+3) {
	color: #f0ad4e;
}
.rating_4 > .rating__item:nth-child(-n+4) {
	color: #f0ad4e;
}
.rating_5 > .rating__item:nth-child(-n+5) {
	color: #f0ad4e;
}
.rating__item.active {
	color: #f0ad4e;
}
.slider-reviews .slick-arrow {
	font-size: 1.823vw;
    color: #10A7F9 !important;
}
.slider-reviews .slick-prev {
	left: -1.042vw;
}
.slider-reviews .slick-next {
	right: -1.042vw;
}
.slider-reviews {
	padding-bottom: 1.563vw;
}
.slider-reviews .slick-dots li.slick-active button,
.slider-reviews .slick-dots li button:hover {
	background: #10A7F9;
}
.rating-frame img {
	width: 7.813vw;
	height: auto;
	margin: 0 auto;
}
.rating-frame {
	width: 13.542vw;
}
.title-form {
	font-size: 2.083vw;
	margin-bottom: 1.042vw;
	font-weight: 700;
	color: #000;
	font-family: 'Manrope';
	text-align: center;
	line-height: 1;
}
.reviews .title-form {
	margin-top: 1.823vw;
}
.form-page {
	padding: 2.604vw;
	max-width: 24.896vw;
	margin: 0 auto;
	border-radius: 1.563vw;
	background: #fff;
}
.item-form {
	margin-bottom: 1.51vw;
}
.item-form input,
.item-form textarea {
	height: 3.125vw;
	font-size: 0.938vw;
	padding: 0.365vw 1.042vw;
	border-radius: 0.26vw;
	background: #fff;
	width: 100%;
	color: #1f2124;
	border: 0.052vw solid #69727d;
}
.capcha img {
	width: 15.833vw;
	margin-left: 0.521vw;
}
.capcha {
	margin-bottom: 1.51vw;
}
.form-page__button {
	text-align: center;
}
.form-page .btn-main {
	font-size: 1.302vw;
	height: 3.125vw;
	padding: 0 2.083vw;
    font-weight: 800;
    border-radius: 0.781vw;
}

.delivery {
	padding: 2.604vw 0;
}
.delivery__image img {
	max-width: 100%;
	border-radius: 1.042vw;
	height: auto;
}
.delivery__image {
	margin-left: -1.563vw;
}
.delivery__content {
	padding-right: 1.563vw;
	color: #777;
}
.delivery__content p {
	margin-bottom: 1.042vw;
	font-family: 'Manrope';
}
.delivery__content .title-section {
	margin-bottom: 1.042vw;
	font-size: 2.083vw;
	max-width: 31.25vw;
	line-height: 1;
}
.delivery__content .title-section span {
	display: block;
}

.footer {
	padding-top: 11.458vw;
	padding-bottom: 2.083vw;
	font-size: 0.729vw;
	line-height: 1.2;
	color: #fff;
	background-image: url(../img/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.footer__nav {
	margin-left: 1.042vw;
}
.footer__nav li {
	margin-bottom: 0.521vw;
}
.footer__nav li a {
	color: #fff;
	border-bottom: 1px transparent solid;
}
.footer__nav li a:hover {
	border-color: #fff;
}
.footer__nav_columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footer__title {
	font-size: 0.781vw;
	margin-bottom: 1.042vw;
	font-weight: 600;
}
.footer .logo img {
	width: 8.333vw;
}
.footer__contacts {
	margin-top: 1.042vw;
	font-weight: 600;
	line-height: 1.6;
	font-family: "Manrope", Sans-serif;
}
.footer__contacts a {
	color: #fff;
}
.footer__center {
	margin-left: -2.083vw;
}

.fixed-buttons {
	top: 50%;
	right: 0;
	z-index: 200;
	position: fixed;
}
.fixed-buttons__btn {
	height: 40px;
	padding: 0 24px;
	width: 65px;
	border-radius: 50px 0 0 50px;
	color: #fff;
	display: flex;
	align-items: center;
	background-color: #37afe2;
}
.sandwich {
	display: none;
}

.billbord-page {
	padding-top: 13.54vw;
	padding-bottom: 4.69vw;
	color: #fff;
	background-image: url(../img/billbord_page.jpg);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	background-size: cover;
}
.title-page {
	font-size: 2.29vw;
	margin-bottom: 0.52vw;
	font-weight: 600;
	line-height: 1.2;
}
.breadcrumbs {
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}
.breadcrumbs a {
	color: #fff;
}
.page-about {
	font-size: 1.04vw;
	padding-top: 2.08vw;
	padding-bottom: 2.6vw;
	line-height: 1.4;
	color: #333;
}
.page-about .title-section {
	margin-bottom: 1.04vw;
}
.page-about__image img {
	width: 100%;
	height: auto;
}
.page-about__image {
	padding: 0 1.56vw;
}
.page-about strong {
	font-weight: 600;
}
.page-about p {
	margin-bottom: 1.04vw;
}
.page-about h3 {
	font-size: 1.51vw;
	margin-bottom: 1.56vw;
	color: #000;
}
.unit-category {
	margin-bottom: 1.04vw;
	color: #333;
	text-align: center;
	display: block;
}
.unit-category__image {
	height: 7.81vw;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.unit-category__image img {
	max-width: 100%;
	max-height: 100%;
	transition: all 1s;
}
.unit-category:hover .unit-category__image img {
	transform: scale(1.1);
}
.unit-category__title {
	display: block;
}
.unit-category__descr {
	font-size: 0.83vw;
	display: block;
	color: #5A666D;
}
.portfolio + .footer {
	margin-top: 1.563vw;
}
.menu > li.active > a {
	color: rgb(16,167,249);
}

.billbord-page .title-page a {
	font-size: 80%;
	margin-right: 0.78125vw;
	color: #fff;
}
.billbord-page .title-page a:hover {
	opacity: 0.8;
}
.billbord-page_catalog .title-page {
	margin-bottom: 2.6041667vw;
}
.page-catalog {
	padding-top: 2.0833333vw;
}
.sidebar-catalog__title {
	margin-bottom: 1.5625vw;
    padding-bottom: 1.5625vw;
	font-weight: 600;
	text-transform: uppercase;
	color: #333;
    border-bottom: 1px solid rgba(0,0,0,.105);
	line-height: 1.4;
}
.sidebar-catalog__subtitle {
	margin-bottom: 0.5208333vw;
	font-weight: 600;
	text-transform: uppercase;
	color: #333;
	line-height: 1.4;
}
.list-sidebar {
	font-size: 0.7291667vw;
}
.list-sidebar li {
	position: relative;
}
.list-sidebar a {
	padding: 0.2604167vw 0;
	color: #777;
	display: block;
}
.list-sidebar a:hover {
	color: #333;
}
.item-sidebar__content ul {
	padding-left: 0.78125vw;
}
.list-sidebar__arrow {
	width: 1.1458333vw;
	height: 1.1458333vw;
	font-size: 0.5729167vw;
	padding-top: 0.0520833vw;
	top: 0.2604167vw;
	right: 0;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
	flex: none;
	color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transition: all 0.3s;
}
.list-sidebar ul {
	padding-left: 0.78125vw;
	display: none;
}
.list-sidebar li.current > a {
	font-weight: 600;
	color: #333;
}
.list-sidebar li.active > .list-sidebar__arrow {
	transform: rotate(180deg);
	padding-top: 0;
	background: #f1f1f1;
}
.list-sidebar__arrow:hover {
	background: #f1f1f1;
}
.list-sidebar {
	padding-bottom: 1.5625vw;
	margin-bottom: 1.5625vw;
	border-bottom: 1px solid rgba(0,0,0,.105);
}
.irs--flat .irs-handle {
	width: 1.1458333vw;
    height: 1.1458333vw;
	box-shadow: 0 0.1041667vw 0.2604167vw #ccc;
	background: #fff;
	border-radius: 50%;
}
.irs--flat .irs-handle i {
	display: none !important;
}
.irs--flat .irs-line,
.irs--flat .irs-bar {
	height: 0.1041667vw;
}
.irs--flat .irs-bar {
	background: rgb(16,167,249);
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	background: rgb(16,167,249);
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
	border-top-color: rgb(16,167,249);
}
.irs--flat.irs-with-grid {
	margin-top: 0.78125vw;
	margin-bottom: 1.5625vw;
}
.wrap-checks {
	gap: 0.78125vw 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.wrap-checks .checkbox-radio {
	width: 50%;
}
.checkbox-radio {
	font-size: 0.7291667vw;
}
.checkbox-radio label input {
	position: absolute;
	z-index: -1;
	height: 0.0520833vw !important;
	width: 0.0520833vw !important;
	opacity: 0 !important;
	margin: 0.625vw 0.1041667vw 0 0.3645833vw !important;
}
.checkbox-radio label > span {
	position: relative;
	transition: all 0.3s;
}
.checkbox-radio label > span:before {
    content: '';
    display: inline-block;
    width: 0.46875vw;
    height: 0.46875vw;
    padding: 0;
    border-radius: 50%;
    border: 1px double #ccc;
    margin-top: 0.15625vw;
    margin-bottom: 0.3125vw;
    margin-right: 0.625vw;
    vertical-align: middle;
    box-sizing: content-box;
    background-color: #fff;
	transition: all 0.3s;
}
.checkbox-radio label input:checked + span:before {
    content: '';
    display: inline-block;
    width: 0.2604167vw;
    height: 0.2604167vw;
    padding: 0;
    border-radius: 50%;
    border: 3px double #777;
    margin-top: 0.15625vw;
    margin-right: 0.625vw;
    box-sizing: content-box;
}
.checkbox-radio label input:checked + span {
	font-weight: 600;
}
.title-catalog {
	font-size: 0.9375vw;
	margin-bottom: 1.302vw;
	color: #242424;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;
}
.head-catalog {
	gap: 1.5625vw;
	margin-bottom: 1.5625vw;
	display: flex;
	align-items: center;
}
.breadcrumbs_page a {
	color: #777;
}
.breadcrumbs li::after {
	content: " » ";
	margin-right: 0.15625vw;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.head-catalog .breadcrumbs {
	margin-right: auto;
}
.per-page {
	font-size: 0.7292vw;
	color: #242424;
	display: flex;
	align-items: center;
}
.per-page a {
	padding: 0 0.3646vw;
	color: #777;
}
.per-page a.active {
	font-size: 0.7813vw;
	font-weight: 600;
	color: #242424;
}
.per-page a:last-child:after {
	display: none;
}
.per-page__title {
	font-weight: 600;
	color: #242424;	
}
.per-page span {
	color: #777;
}
.per-page a:hover {
	color: #242424;	
}
.select-sorting select {
	padding: 0.2604vw 0;
	padding-right: 1.5625vw;
	color: #242424;
	font-weight: 600;
	height: auto;
	border: none;
	border-bottom: 0.1042vw rgba(0,0,0,.1) solid;
	background-size: auto 0.9375vw;
	background-position: right 0 top 50%;
	background-repeat: no-repeat;
	background-image: url(../img/chevron_arrow.svg);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.views-catalog {
	gap: 0.625vw;
	display: flex;
	align-items: center;
}
.views-catalog svg {
	width: 0.9896vw;
	height: 0.9896vw;
	fill: #242424;
}
.views-catalog a {
	opacity: 0.3;
}
.views-catalog a:hover,
.views-catalog a.active {
	opacity: 1;
}
.page-catalog .unit-category {
	text-align: left;
}
.page-catalog .unit-category__image {
	justify-content: flex-start;
}
.item-catalog_page .item-catalog__buttons {
	bottom: 0;
	top: auto;
	gap: 0;
	flex-direction: column;
	transform: translateY(50%);
}
.page-catalog .item-catalog_page:hover .item-catalog__buttons {
	transform: translateY(0%);
}
.item-catalog_page .btn-add {
	width: 100%;
	background: rgb(16,167,249);
	border: none;
	border-radius: 0;
}
.item-catalog_page .btn-buy {
	border-radius: 0;
}
.item-catalog_page .item-catalog__image {
	overflow: hidden;
}
.item-catalog_page .item-catalog__image::after {
	display: none;
}
.item-catalog_page .item-catalog__action {
	right: 0.5208vw;
	box-shadow: 0.0521vw 0.0521vw 0.0521vw rgba(0, 0, 0, .1);
	background: #fff;
}
.item-catalog_page .btn-action {
	color: #242424;
}
.item-catalog__hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	overflow: hidden;
	transition: all 1s;
	opacity: 0;
	visibility: hidden;
}
.item-catalog__hover img {
	max-width: 100%;
	max-height: 100%;
	transition: all 2s;
}
.item-catalog:hover .item-catalog__hover {
	visibility: visible;
	opacity: 1;
}
.item-catalog:hover .item-catalog__hover img {
	transform: scale(1.1);
}
.pager {
	margin-top: 1.8229vw;
	gap: 0.1042vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	width: 1.7708vw;
	height: 1.7708vw;
	font-weight: 600;
	font-size: 0.7292vw;	
	color: #242424;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers:hover {
	background: #f1f1f1;
}
.page-numbers.current {
	color: #fff;
	background: rgb(16,167,249);
}
.page-catalog {
	padding-bottom: 3.125vw;
}
.text-catalog {
	padding-top: 0.7813vw;
}
.text-catalog p {
	margin-bottom: 1.0417vw;
}
.text-catalog strong {
	font-weight: 600;
}
.text-catalog h2 {
	font-size: 1.25vw;
	margin-bottom: 1.0417vw;
	color: #242424;
	font-weight: 600;
	line-height: 1.4;
}
.text-catalog a {
	color: #3366ff;
}
.image-sertificat {
	display: block;
}
.image-sertificat img {
	width: 100%;
	height: auto;
}
.page-catalog .row.row_catalog {
	padding-top: 1.0417vw;
}
.buttons-mobile,
.sidebar-catalog__close,
.btn-open-sidebar,
.result-count {
	display: none;
}

.page-card {
	padding-bottom: 2.083vw;
}
.billbord-page_simple {
	padding-bottom: 0;
	background-position: center top;
}
.page-card .breadcrumbs {
	padding: 1.563vw 0;
	justify-content: flex-start;
}
.slider-for__item {
	display: block;
}
.slider-for__item img {
	width: 100%;
	height: auto;
}
.slider-recommendations:not(.slick-initialized) > li:not(:first-child),
.slider-nav:not(.slick-initialized) > li:not(:first-child),
.slider-for:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slider-nav__item img {
	width: 100%;
	height: auto;
	display: block;
}
.slider-nav__item {
	padding: 0 0.104vw;
	display: block;
	cursor: pointer;
}
.slider-for {
	margin-bottom: 0.208vw;
}
.slider-recommendations .slick-prev,
.slider-for .slick-prev {
	left: 0;
	transform: translateX(-1.563vw);
	opacity: 0;
}
.slider-recommendations .slick-next,
.slider-for .slick-next {
	right: 0;
	transform: translateX(1.563vw);
	opacity: 0;
}
.slider-recommendations:hover .slick-arrow,
.slider-for:hover .slick-arrow {
	transform: none;
	opacity: 1;
}
.slider-for .slick-disabled {
	color: #a5a5a5 !important;
}
.page-card .sidebar-catalog {
	padding-right: 0.781vw;
	margin-right: -0.521vw;
	min-height: 100%;
	border-right: 1px solid rgba(0,0,0,.105);
}
.title-card {
    font-size: 1.771vw;
	line-height: 1;
	color: #333;
	font-weight: 500;
}
.price-main.price-main_card {
	margin-bottom: 1.042vw;
	font-size: 1.615vw;
    line-height: 1.2;
}
.col_card {
	font-size: 0.729vw;
	line-height: 160%;
	color: #7A7A7A;
}
.card-descrpition {
	margin-bottom: 1.042vw;
}
.card-descrpition__title {
	margin-top: 2.083vw;
}
.page-card .tab-container ul li,
.card-descrpition li {
    padding-left: 0.781vw;
    position: relative;
}
.page-card .tab-container ul li::before,
.card-descrpition li::before {
    position: absolute;
    top: 0;
    left: 0.156vw;
    content: "•";
}
.subitle-card {
	font-size: 1.25vw;
	margin-bottom: 0.521vw;
    font-weight: 800;
}
.card-actions {
	gap: 0.469vw 0.26vw;
	margin-bottom: 0.781vw;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.btn-main.btn-main_page {
	background: rgb(255,179,0);
	color: #333;
}
.sticky-card .btn-main,
.card-actions .btn-main {
	height: 2.188vw;
	font-size: 0.677vw;
	padding: 0 1.042vw;
}
.btn-main.btn-main_wp {
	font-size: 0.729vw;
	gap: 0.26vw;
	font-weight: 400;
	background: #43d854;
	text-transform: none;
}
.btn-main.btn-main_wp svg {
    fill: #fff;
    width: 1.302vw;
}
.quantity {
	width: 4.167vw;
	height: 2.188vw;
	display: flex;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 0.26vw;
	background: #fff;
}
.quantity-button {
	flex: 1;
	border: none;
	background-color: transparent;
    font-size: 0.677vw;
    line-height: 0.938vw;
	text-transform: uppercase;
	color: #777;
	display: flex;
	align-items: center;
	font-family: "PTSans";
	justify-content: center;
	cursor: pointer;
	user-select: none;
}
.quantity input {
	flex: 1.4;
	width: 100%;
	font-size: 0.729vw;
	line-height: 140%;
	color: #777;
	border: none;
	border-left: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
	padding: 0;
	text-align: center;
	font-family: "PTSans";
	background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
.card-actions .quantity {
	margin-right: 0.521vw;
}
.card-buttons {
	gap: 1.042vw;
	padding-bottom: 1.042vw;
	padding-top: 1.302vw;
	border-bottom: 1px solid rgba(0,0,0,.105);
	display: flex;
	align-items: center;
}
.btn-card {
	gap: 0.26vw;
	font-weight: 600;
	color: #333;
	display: flex;
	align-items: center;
}
.btn-card::before {
    font-family: "woodmart-font";
}
.btn-card_compare::before {
	content: "\f128";
}
.btn-card_wishlist::before {
    content: "\f106"
}
.card-meta p:not(:last-child) {
	margin-bottom: 0.521vw;
}
.card-meta strong {
	font-weight: 600;
	color: #333;
}
.card-meta {
	margin-bottom: 0.521vw;
    padding-top: 1.042vw;
}
.tabs.tabs_card {
	margin-top: 2.083vw;
	padding: 0;
	border-top: 1px solid rgba(0,0,0,.105);
}
.tabs.tabs_card a {
	padding-top: 1.563vw;
	padding-bottom: 0.521vw;
}
.tabs.tabs_card a::before {
	top: -0.052vw;
	bottom: auto;
}
.page-card .tab-container {
	font-size: 0.729vw;
	line-height: 160%;
}
.page-card .tab-container ol {
	padding-left: 1.042vw;
	margin-top: 0;
	margin-bottom: 1.042vw;
}
.feature {
	margin: 0 auto;
	padding-bottom: 0.78vw;
	margin-bottom: 0.78vw;
	max-width: 33.85vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.feature strong {
	color: #333;
	font-weight: 600;
}
.feature:not(:last-child) {
	border-bottom: 0.052vw rgba(0,0,0,.105) solid;
}
.title-reviews {
	margin-bottom: 1.04vw;
	color: #333;
	font-weight: 600;
	text-transform: uppercase;
}
.subtitle-section {
	font-size: 1.15vw;
	padding-bottom: 0.52vw;
	line-height: 1.4;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	position: relative;
}
.subtitle-section::before {
	position: absolute;
	display: block;
	content: " ";
	width: 2.08vw;
	height: 0.1vw;
	bottom: 0;
	left: 0;
	background: rgb(16,167,249);
}
.card-recommendations {
	padding-top: 2.08vw;
	margin-top: 2.08vw;
	border-top: 0.052vw solid rgba(0,0,0,.105);
}
.slider-recommendations .slick-track {
	display: flex !important;
}
.slider-recommendations .slick-slide {
	height: inherit !important;
}
.slider-recommendations {
	padding-top: 1.56vw;
	padding-bottom: 1.56vw;
}
.slider-recommendations .item-catalog {
	border: 0.052vw solid rgba(0,0,0,.105);
}
.slider-recommendations .slick-list {
	padding: 0 0.1vw;
}
.slider-recommendations .item-catalog__image {
	height: 10.42vw;
}
.slider-recommendations .slick-prev {
	left: -3.12vw;
}
.slider-recommendations .slick-next {
	right: -3.12vw;
}
.head-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-card {
	display: flex;
	align-items: center;
	position: relative;
}
.nav-card__arrow,
.nav-card__button {
	width: 1.04vw;
	height: 1.04vw;
	color: #242424;
	font-size: 0.73vw;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
}
.nav-card__button::before {
    content: "\f122";
	font-family: "woodmart-font";
}
.nav-card__arrow:hover,
.nav-card__button:hover {
	color: #777;
}
.nav-card__arrow {
	margin-top: -0.05vw;
}
.nav-card__button .tooltip-main {
    bottom: 100%;
    top: auto;
    left: 50%;
	margin-bottom: 0.26vw;
    transform: translateX(-50%);
    right: auto;
}
.nav-card__button:hover .tooltip-main {
    visibility: visible;
    opacity: 1;
}
.nav-card__button .tooltip-main:before {
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
    border-width: 0.26vw 0.26vw 0.26vw 0.26vw;
	border-left-color: transparent;
    border-top-color: #000;
}
.item-nav-dropdown {
	width: 12.5vw;
	font-size: 0.73vw;
	margin-top: 0.78vw;
	top: 100%;
	right: 0;
	color: #333;
	line-height: 1.4;
	font-weight: 500;
	transition: all 0.3s;
	position: absolute;
	display: flex;
	align-items: center;
	transform: translateY(0.78vw) translateZ(0);
	box-shadow: 0 0 0.16vw rgba(0, 0, 0, .3);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	z-index: 5;
}
.item-nav-dropdown__image {
	width: 4.68vw;
	flex: none;
	display: block;
}
.item-nav-dropdown__image img {
	width: 100%;
	height: auto;
}
.item-nav-dropdown__content {
	padding: 0.52vw 0.78vw;
	display: block;
	flex: 1;
}
.item-nav-dropdown__title {
	margin-bottom: 0.26vw;
	display: block;
}
.item-nav-dropdown .price-main {
	display: block;
}
.nav-card__item:hover .item-nav-dropdown {
	visibility: visible;
	opacity: 1;
	transform: none;
}
.footer {
	padding-bottom: 0;
}
.footer__bottom {
	padding: 1.04vw 0;
	margin-top: 3.12vw;
	border-top: 0.052vw solid rgba(255,255,255,.15);
	color: #fff;
	background-color: #2b2b2b;
}
.footer__bottom a {
	color: #fff;
}
.footer__line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page-card ~ .footer {
	margin-bottom: 4.43vw;
}
.sticky-card {
	padding: 0.52vw 0;
	font-size: 0.73vw;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	position: fixed;
	transform: translate3d(0, 100%, 0);
	transition: all 0.3s;
	box-shadow: 0 0 0.47vw rgba(0, 0, 0, .12);
	background-color: #fff;
}
.sticky-card.fixed {
	transform: translate3d(0, 0, 0);
}
.sticky-card__wrap {
	gap: 0.52vw;
	display: flex;
	align-items: center;
}
.sticky-card__image {
	width: 3.38vw;
	height: 3.38vw;
	display: block;
}
.sticky-card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.sticky-card__title {
	margin-right: auto;
}
.sticky-card .subitle-card {
	margin: 0;
}
.btn-sticky {
	width: 2.6vw;
	height: 2.08vw;
	font-size: 1.04vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-sticky::before {
	font-family: "woodmart-font";
}
.btn-sticky_compare::before {
	content: "\f128";
}
.btn-sticky_wishlist::before {
	content: "\f106";
}
.tab-pane__head {
	display: none;
}